@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 60px 58px 43px;
}

header .navbar .menu_1,
header .navbar .menu_2 {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

header .navbar .menu_1 li .menu_item,
header .navbar .menu_2 li .menu_item {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  padding-bottom: 6px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

header .navbar .menu_1 li .menu_item.active,
header .navbar .menu_2 li .menu_item.active {
  border-bottom: 2px solid #e51937;
  color: #e51937;
}

header .navbar .menu_1 li .menu_item:hover,
header .navbar .menu_2 li .menu_item:hover {
  border-bottom: 2px solid #e51937;
  color: #e51937;
}

header .navbar .menu_1 .item1 {
  margin-right: 63px;
}

header .navbar .menu_1 .item2 {
  margin-right: 25px;
}

header .navbar .menu_1 .item3 {
  margin-right: 44px;
}

header .navbar .menu_1 .item4 {
  margin-right: 46px;
}

header .navbar .menu_2 .menu_item {
  margin-right: 30px;
}

header .tesla_title {
  text-align: center;
  background: url("../img/Tesla_logo_car.png") center center/cover no-repeat;
  min-height: 594px;
  margin-bottom: 26px;
}

header .tesla_title h1 {
  font-weight: 600;
  font-size: 90px;
  line-height: 110px;
}

header .tesla_title .tesla_descr {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

header .tesla_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 37px;
}

header .tesla_info .info_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 81px;
}

header .tesla_info .info_block .info_block_img {
  width: 46px;
  margin-right: 14px;
}

header .tesla_info .info_block .info_block_text1 {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  color: #000000;
  margin: 0 6px 0 0;
}

header .tesla_info .info_block .info_block_text1 span {
  font-size: 20px;
  line-height: 24px;
}

header .tesla_info .info_block .info_block_text2 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

header .test_drive {
  max-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 0 40px 0 24px;
}

header .test_drive img {
  margin-right: 7px;
}

header .order {
  width: 160px;
  height: 40px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #E51937;
  border: 2px solid #E51937;
  padding: 11px 0;
  cursor: pointer;
}

header .go_bottom {
  display: block;
  text-align: center;
}

@media (max-width: 375px) {
  .header .container {
    width: 375px;
  }

  .header .navbar {
    margin: 5px 21px 43px 2px;
  }

  .header .navbar .menu_item {
    display: none;
  }

  .header .tesla_title {
    min-height: 240px;
    background-size: contain !important;
    margin-bottom: -10px;
  }

  .header .tesla_title h1 {
    font-size: 50px;
    line-height: 61px;
  }

  .header .tesla_title p {
    font-size: 10px;
    line-height: 12px;
  }

  .header .tesla_info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header .tesla_info .info_block {
    margin-right: 0px;
    margin-bottom: 43px;
  }

  .header .tesla_info .info_block:nth-child(2) {
    margin-left: 20px;
  }

  .header .tesla_info .info_block .info_block_text1 {
    font-size: 27px;
    line-height: 27px;
    margin-bottom: 2px;
  }

  .header .tesla_info .info_block .info_block_text2 {
    font-size: 10px;
    line-height: 10px;
  }

  .header .test_drive {
    margin-bottom: 25px;
    margin-left: 10px;
  }
}

@media (max-width: 768px) and (min-width: 376px) {
  .header .container {
    width: 768px;
  }

  .header .navbar {
    margin: 24px 33px 94px 15px;
  }

  .header .navbar .menu_item {
    display: none;
  }

  .header .tesla_title {
    min-height: 520px;
    background-size: contain !important;
    margin-bottom: -50px;
  }

  .header .tesla_title h1 {
    font-size: 90px;
    line-height: 110px;
  }

  .header .tesla_title p {
    font-size: 15px;
    line-height: 18px;
  }

  .header .tesla_info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 63px;
  }

  .header .tesla_info .info_block {
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 56px;
  }

  .header .tesla_info .info_block .info_block_img {
    width: 65px;
  }

  .header .tesla_info .info_block .info_block_text1 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 2px;
  }

  .header .tesla_info .info_block .info_block_text2 {
    font-size: 12px;
    line-height: 15px;
  }

  .header .test_drive {
    font-size: 16px;
    line-height: 20px;
    margin-left: 0;
  }

  .header .order {
    width: 220px;
    height: 55px;
    font-size: 16px;
    line-height: 30px;
    background: #e51937;
    color: #fff;
  }
}

.webp header .tesla_title{ background: url(../img/Tesla_logo_car.webp) center center/cover no-repeat; }